body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 6.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent scrolling unless necessary */
    position: relative; /* Add this line */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto; /* Allow scrolling if necessary */
    flex-direction: column; /* Ensure items are stacked vertically */
  }
  
  .weeks-grid {
    display: grid;
    grid-template-columns: repeat(13, auto); /* 13 columns for the groups */
    gap: 10px; /* Space between groups */
    justify-content: center;
    max-height: 100%; /* Ensure the grid does not exceed the container height */
  }
  
  .weeks-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns per group */
    gap: 0.5px; /* Reduce space between weeks in a group */
  }
  
  .week {
    width: 8px; /* Adjust width to ensure elements fit */
    height: 8px; /* Adjust height to ensure elements fit */
    display: inline-block;
    text-align: center;
    line-height: 8px; /* Adjust line-height to match the new size */
    color: black;
    margin: -1px; /* Negative margin to reduce spacing */
  }
  
  .set-options-message {
    font-size: 15px; /* Set the font size to 15 */
    font-weight: bold;
    color: black; /* Set the text color to black */
    text-align: center; /* Align text in the middle */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
